server/updates/*.exe filter=lfs diff=lfs merge=lfs -text
client/public/vendor/deepfilternet3/**/*.wasm filter=lfs diff=lfs merge=lfs -text
client/public/vendor/deepfilternet3/**/*.bin filter=lfs diff=lfs merge=lfs -text
